.business-solutions-text-div {
  position: relative;
  /* height: 80vh; */
}

.business-solutions-text {
  position: absolute;
  min-width: 100%;
  top: 30%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
}

.business-solutions-card {
  background-color: #edeef0;
  max-width: 50%;
  position: absolute;
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%);
}

#network-solutions {
  background-color: rgba(128, 128, 128, 0.352);
}

.network-solutions-text-div {
  position: relative;
  /* height: 80vh; */
}

.network-solutions-text {
  position: absolute;
  min-width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.network-solutions-card {
  position: absolute;
  max-width: 50%;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
}
#service-section {
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 80%,
    rgba(6, 160, 212, 0.793) 100%
  );
}

.service-head {
  text-align: center;
  color: white;
  font-family: "Montserrat-Bold";
}

.service-card {
  transition: ease-in-out 500ms all;
  cursor: pointer;
  overflow: hidden;
}

.service-card.active {
  transform: scale(1.3);
  z-index: 1;
}

.service-img {
  filter: brightness(60%);
  transition: ease-in-out 500ms all;
}

.service-title {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  text-align: center;
  width: 90%;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-family: "Montserrat-Regular";
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 1.3 !important;
  padding: 0.5rem;
  width: 80%;
}

/* Mobile only */

#business-solutions-sm {
  background-color: #fff;
}

#business-solutions-sm .card {
  z-index: 1;
  margin-bottom: -16%;
  background-color: #edeef0;
}
#network-solutions-sm {
  background-color: #edeef0;
}

/* ************************************************************************** */
@media screen and (max-width: 740px) {
  .business-solutions-card {
    position: relative;
    min-width: 100%;
    top: unset;
    left: unset;
  }

  .service-description {
    font-size: 12px;
    line-height: 1.3 !important;
    padding: 0.2rem;
    width: 95%;
  }

  .service-card.active {
    transform: scale(1.0);
  }
}
