.step-head {
  font-size: 2.5rem;
  color: #07a8ae;
  font-family: "Montserrat-Bold";
  line-height: 1.2;
}

.step-note {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.615);
  font-family: "Montserrat-Bold";
}

.step-card-div {
  background: url("../page-5/icons/strokes-02.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  padding: 6rem 0;
}

.step-card {
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 0%,
    rgba(0, 198, 177, 1) 100%
  );
  color: white !important;
  font-family: "Montserrat-Bold";
  border-radius: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: ease-in-out 200ms all;
}

.step-card:hover {
  transform: scale(1.1);
}

#benefit-section {
  background-color: #ecedef;
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.benefit-card {
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  padding: 2rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 200ms;
  background-color: #ecedef;
}

.benefit-card:hover {
  transform: scale(1.2);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.077);
}

.benefit-card img {
  /* padding: 1rem; */
  margin: 2rem;
  width: 50%;
}

.benefit-card span {
  /* padding: 1rem; */
  /* font-family: 'Montserrat-SemiBold'; */
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 2rem 0;
}

#earn-section img {
  position: absolute;
  right: 0;
  bottom: 0;
  /* top: 0; */
  width: 58vw;
}

#earn-section {
  position: relative;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 0%,
    rgba(0, 198, 177, 1) 100%
  ) !important;
}

.earn-head {
  font-size: 2.5rem;
  font-family: "Montserrat-Bold";
  line-height: 1.2;
}

.charger-card {
  border: none;
  border-radius: 0;
  max-width: 60%;
  color: white !important;
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 0%,
    rgba(0, 198, 177, 1) 100%
  ) !important;
}

.charger-card .card-body {
  padding: 4rem 5rem;
  width: 90%;
}

.charger-head {
  font-size: 2.5rem;
  font-family: "Montserrat-Bold";
  line-height: 1.2;
}

.charger-note {
  font-size: 1rem;
  font-family: "Montserrat-SemiBold";
}

.charger-img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: -8%;
  width: 38%;
  right: 10%;
}

/* ************************************************************************** */
@media screen and (max-width: 740px) {

  .step-card-div {
    background: url("../page-5/icons/page\ 5\ strokes\ mobile-02.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    padding: 6rem 0;
  }

  #charger-section {
    margin: 0rem !important;
    padding: 0rem !important;
  }

  #charger-section .container {
    margin: 0;
    padding: 0;
  }
  .charger-card {
    max-width: 100%;
  }

  .charger-card .card-body {
    padding: 1rem 1.5rem;
    width: 100%;
  }
  
}
