#service-section {
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 80%,
    rgba(6, 160, 212, 0.793) 100%
  );
}

.service-head {
  text-align: center;
  color: white;
  font-family: "Montserrat-Bold";
}

.service-card {
  transition: ease-in-out 500ms all;
  cursor: pointer;
  overflow: hidden;
}

.service-card.active {
  transform: scale(1.3);
  z-index: 1;
}

.service-img {
  filter: brightness(60%);
  transition: ease-in-out 500ms all;
}

.service-title {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  text-align: center;
  width: 90%;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-family: "Montserrat-Regular";
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 1.3 !important;
  padding: 0.5rem;
  width: 80%;
}

.fleet-card .card-img-overlay {
  background: linear-gradient(
    90deg,
    rgba(12, 127, 166, 0.9) 0%,
    rgba(1, 137, 123, 0.8) 100%
  ) !important;
  border-radius: 10% !important;
  font-family: "Montserrat-SemiBold";
}
.fleet-card,
.card-img {
  border-radius: 10% !important;
}

.fleet-text {
  width: 75%;
}

.app-info-card-text {
  font-family: "Montserrat-Bold";
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.592);
  padding: 0;
  margin: 0;
}

.app-info-card-text.right {
  text-align: right;
}

.app-info-card-img-div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: fit-content;
  padding: 0;
  margin: 0;
  border-radius: 100%;
}

.app-info-card-img {
  border-radius: 100%;
  width: 60%;
}

.app-info-card-img:hover {
  box-shadow: rgba(0, 83, 77, 0.5) 0px 5px 15px;
}

#partner-section {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 0%,
    rgba(0, 198, 177, 1) 100%
  ) !important;
}

.partner-head {
  font-family: "Montserrat-Bold";
  font-size: 2.5rem;
  line-height: 1.2;
}

.partner-img {
  width: 60%;
}
.fleet-head {
  font-family: "Montserrat-Bold";
  font-size: 2.5rem;
  line-height: 1.2;
  color: #606060;
}

/* ************************************************************************** */
@media screen and (max-width: 740px) {
  .landing-text-header {
    font-size: 1.8rem;
  }
  .landing-text-desc {
    font-size: 0.8rem;
  }

  .service-title {
    font-size: 0.5rem;
  }

  .service-card.active {
    transform: scale(1);
    z-index: 1;
  }

  .service-description {
    font-size: 12px;
    line-height: 1.3 !important;
    padding: 0.2rem;
    width: 95%;
  }

  .fleet-text {
    width: 100%;
  }

  .app-info-card-img {
    width: 50%;
  }
  .app-info-card-text {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.8rem;
  }
  .app-info-card-text.right {
    text-align: center;
  }

  .partner-img {
    width: 80%;
  }
}
